<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html">


<div class="container" layout:fragment="content">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + New Folder
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" th:action="@{'/addFolder'}">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">ADD NEW FOLDER</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3">
                            <label>FOLDER NAME:</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Folder name</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>


    <div class="row">
        <div class="col">
            <div class="card mt-3" th:each="folder:${folders}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${folder.name}"></h5>
                    <a th:href="@{'/detailsFolder/'+${folder.id}}" class="btn btn-primary" >Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>